html {
	background: #FFFFFF;
}

body {
	padding: 50px 0;
	margin: 0;
	font: 13.34px Helvetica, sans-serif;
	color: #555;
}

.wrapper {
	max-width: 640px;
	margin: 0 auto;
	background: #FFFFFF;
	border-radius: 8px;
}

header, section, footer {
	display: block;
}

a {
	color: #2D2E2F;
	text-decoration: none;
}

p a {
    text-decoration: underline;
}

p {
	margin: 0 0 20px;
	padding: 0;
}

strong {
	color: #222;
	font-weight: 700;
}

header {
	border-radius: 8px 8px 0 0;
	background: #FFFFFF;
	position: relative;
	padding: 20px 20px 30px 20px;
	margin-top: -1px;
}

header h1 {
	margin: 0;
	padding: 0;
	color: #2D2E2F;
	font-size: 200%;
}
header p {
	margin: 0;
	color: #2D2E2F;
	font-size: 15px;
}
header ul {
	float: left;
	list-style: none;
	margin-left: -45px;
}
header ul li {
	float: left;
	padding: 13px 5px;
}
main {
	border-top: 1px solid #fff;
	position: relative;
	border-radius: 8px;
}

.content {
	padding: 15px 20px 20px 20px;
	margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 120%;
	color: #666;
	padding: 0;
}

p, ul, ol, table, pre, dl {
	margin: 0 0 20px;
}

h1 {
	color: #2D2E2F;
}

h2 {
	color: #2D2E2F;
}

h3, h4, h5, h6 {
	color: #494949;
}

blockquote:before {
	display: block;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: -20px;
	top: -20px;
	color: #7a7a7a;
}

blockquote cite {
	color: #999999;
	font-size: 14px;
	display: block;
	margin-top: 5px;
}

blockquote cite:before {
	content: "\2014 \2009";
}


blockquote {
	font-family: Helvetica, serif;
	margin: 0.25em 0;
	padding: 0.5em 40px 0.25em 40px;
	position: relative;
	color: #383838;
	margin-left: 15px;
}

img {
	max-width:100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

pre {
	font-family: monospace;
	font-size: 90%;;
	padding: 20px;
	background: #101010;
	color: #FFFFFF;
	margin: 0px;
	margin-bottom: 20px;
	overflow-x:auto;
	border-radius: 4px;
	border: 1px solid #bbb;
}

li pre {
	margin-left: -60px;
	padding-left: 60px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	text-align: left;
	padding: 5px 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #eee;
}

td + td {
	max-width: 200px;
	text-align: right;
}

dt {
	color: #222;
	font-weight: 700;
}

th {
	color: #222;
}

small {
	font-size: 11px;
}

hr {
	background: #aaa;
	margin: 0 0 20px;
}

footer {
	max-width: 640px;
	margin: 0 auto;
	padding: 20px;
	color: #aaa;
	overflow: hidden;
}
footer a {
	color: #bbb;
	font-weight: bold;
}
footer p {
	float: left;
}
footer p + p {
	float: right;
}
footer p + p + p {
	float: left;
}

a#feedimg {
	float: right;
	margin-right: 10px;
}

div.highlight {
	border-radius: 4px;
}

td.linenos {
	display: none;
}

td {
	text-align: left;
}

ul.pagination {
	list-style: none;
	margin: auto;
	width: 30%;
}

ul.pagination li {
	display: inline;
	padding: 5px;
}

footer.read-more {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	padding-bottom: 30px;
}
footer.read-more a {
	position: absolute;
	visibility: hidden;
}

footer.read-more a:before {
	content: '>>> continue reading';
	visibility: visible;
}
