<!DOCTYPE html>
<html>
<head>
<title>$title$</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
<link rel="stylesheet" type="text/css" href="/static/tengwar/tengwar-parmaite.css" />
<link rel="stylesheet" type="text/css" href="/static/tengwar/tengwar-annatar.css" />
<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="/dev/kaashif" />

<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="text/javascript"
  src="/static/tengwar/tengwar.min.js">
</script>
<meta name=viewport content="width=device-width, initial-scale=1">
</head>
<body>
<div class="wrapper">
<main>
<header>
        <h1>/dev/kaashif</h1>
        <p>Programming, software freedom and Unix</p>
        <ul>
            <li> <a href="/">Home</a></li>
            <li>//</li>
            <li> <a href="/about">About</a></li>
            <li>//</li>
            <li> <a href="/contact">Contact</a></li>
            <li>//</li>
            <li> <a href="/archive">Archive</a></li>
            <li>//</li>
            <li> <a href="/code">Code</a></li>
        </ul>
		<a id="feedimg" href="/atom.xml"><img src="/static/feed.png" /></a>
</header>
<hr style="clear: both; visibility: hidden;" />
<div class="content">
  $body$
</div>
</main>
</div>
<footer>
<p>&copy; <time>2014</time> Kaashif Hymabaccus</p>
<p><a href="http://hg.kaashif.co.uk/hgweb/blog/files">Source</a></p>
<p>Copying, redistribution and modification of this page and
  everything else on this website is permitted under the terms of
  the <a href=http://creativecommons.org/licenses/by-nc/3.0/>
  Creative Commons Attribution-NonCommercial License Version 3.0,
  unless specified otherwise.</a></p>
</footer>
</body>
</html>
